body
{
   background-color: #800080;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: #FFFF00;
   background-image: none;
   box-sizing: border-box;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_CssMenu2
{
   border: 0px solid #800080;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 1px solid #800080;
   background-color: #800080;
   background-image: none;
   font-family: "Diavlo Medium";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #800080;
   background-image: none;
   border: 1px solid #800080;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu2.affix
{
   top: 0 !important;
   position: fixed !important;
}
#wb_CssMenu1
{
   border: 0px solid #800080;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 1px solid #800080;
   background-color: #800080;
   background-image: none;
   font-family: "Diavlo Medium";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #800080;
   background-image: none;
   border: 1px solid #800080;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Article1
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 20px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
}
#Article1 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article1 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article1 .blogsubject, #Article1 .blogsubject a:link, #Article1 .blogsubject a:visited, #Article1 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   color: #FFFFFF;
   text-decoration: none;
}
#Article1 .blogcomments, #Article1 .blogcomments a:link, #Article1 .blogcomments a:visited, #Article1 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 20px;
   color: #000000;
   text-decoration: underline;
}
#Article1 .blogcomments
{
   text-decoration: none;
}
#Article1 .no-thumb
{
   display: none;
}
#Article1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article1 .blogdate, #Article1 .blogcomments
{
   display: none;
}
#Article1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#wb_Shape7
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_linksText1 
{
   background-color: #FFFF00;
   background-image: none;
   border: 0px solid transparent;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText1
{
   color: #800080;
   font-family: Diavlo;
   font-weight: normal;
   font-size: 29px;
   line-height: 32.5px;
}
#wb_linksText1 p, #wb_linksText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_linksMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 6px 0px;
   width: 100%;
}
#wb_linksMenu1 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Diavlo Black";
   font-weight: bold;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu1 li:hover a, #wb_linksMenu1 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
}
#wb_linksMenu3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 6px 0px;
   width: 100%;
}
#wb_linksMenu3 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Diavlo Black";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu3 li:hover a, #wb_linksMenu3 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText2 
{
   background-color: #FFFF00;
   background-image: none;
   border: 0px solid transparent;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText2
{
   color: #800080;
   font-family: "Diavlo Black";
   font-weight: normal;
   font-size: 27px;
   line-height: 34px;
}
#wb_linksText2 div
{
   text-align: left;
}
#wb_linksMenu4
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu4 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu4 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 6px 0px;
   width: 100%;
}
#wb_linksMenu4 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Diavlo Black";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu4 li:hover a, #wb_linksMenu4 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu4 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu4 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu4 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 6px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Diavlo Black";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text4 
{
   background-color: #FFFF00;
   background-image: none;
   border: 0px solid transparent;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text4
{
   color: #800080;
   font-family: "Diavlo Black";
   font-weight: normal;
   font-size: 27px;
   line-height: 34px;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: #FFFF00;
   background-image: none;
   border: 0px solid transparent;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text10
{
   color: #800080;
   font-family: "Diavlo Black";
   font-weight: normal;
   font-size: 27px;
   line-height: 34px;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Card1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 30px 10px 30px 10px;
   padding: 0;
   text-align: left;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.34);
}
#Card1-card-body
{
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 50px 0px -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 100px;
   width: calc(100% - 50px);
   height: 100px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #800080;
   font-family: "Arial Baltic";
   font-weight: bold;
   font-size: 29px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 10px 150px;
   padding: 0;
   color: #000000;
   font-family: "Arial Black";
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}
#Card1-card-item3
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   line-height: 24px;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#wb_FontAwesomeIcon12
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_FontAwesomeIcon12:hover
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon12
{
   height: 43px;
   width: 36px;
}
#FontAwesomeIcon12 i
{
   color: #2299DD;
   display: inline-block;
   font-size: 36px;
   line-height: 43px;
   vertical-align: middle;
   width: 30px;
}
#wb_FontAwesomeIcon12:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon12
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon12:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon5
{
   background-color: #383838;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon5
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 13px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon5
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon5:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 40px;
   width: 49px;
}
#FontAwesomeIcon1 i
{
   color: #FF0042;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 33px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 36px;
   width: 48px;
}
#FontAwesomeIcon2 i
{
   color: #57FF57;
   display: inline-block;
   font-size: 36px;
   line-height: 36px;
   vertical-align: middle;
   width: 30px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_Card2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 30px 10px 30px 10px;
   padding: 0;
   text-align: left;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.34);
}
#Card2-card-body
{
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 50px 0px -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 100px;
   width: calc(100% - 50px);
   height: 100px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #800080;
   font-family: "Arial Baltic";
   font-weight: bold;
   font-size: 29px;
   text-align: center;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 10px 150px;
   padding: 0;
   color: #000000;
   font-family: "Arial Black";
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}
#Card2-card-item3
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   line-height: 24px;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon3
{
   height: 43px;
   width: 36px;
}
#FontAwesomeIcon3 i
{
   color: #2299DD;
   display: inline-block;
   font-size: 36px;
   line-height: 43px;
   vertical-align: middle;
   width: 30px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon3
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon3:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon4
{
   background-color: #383838;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon4
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 13px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon4
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon4:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon6
{
   height: 40px;
   width: 49px;
}
#FontAwesomeIcon6 i
{
   color: #FF0042;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 33px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon7:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon7
{
   height: 36px;
   width: 48px;
}
#FontAwesomeIcon7 i
{
   color: #57FF57;
   display: inline-block;
   font-size: 36px;
   line-height: 36px;
   vertical-align: middle;
   width: 30px;
}
#wb_FontAwesomeIcon7:hover i
{
   color: #337AB7;
}
