div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #800080;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader1
{
   background-color: #FFFF00;
   background-image: none;
   box-sizing: border-box;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_CssMenu2
{
   border: 0px solid #800080;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 1px solid #800080;
   background-color: #800080;
   background-image: none;
   font-family: "Diavlo Medium";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #800080;
   background-image: none;
   border: 1px solid #800080;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu2.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: 92px;
}
#wb_CssMenu1
{
   border: 0px solid #800080;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 1px solid #800080;
   background-color: #800080;
   background-image: none;
   font-family: "Diavlo Medium";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #800080;
   background-image: none;
   border: 1px solid #800080;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: 627px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Signup1
{
   background-color: #800080;
   border-color:#FFFF00;
   border-width:4px;
   border-style: solid;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: "Arial Black";
   font-weight: normal;
   font-size: 19px;
   text-align: left;
   border-spacing: 6px;
   width: 357px;
   height: 649px;
}
#Signup1 td
{
   padding: 0;
}
#Signup1 .header
{
   background-color: #800080;
   color: #FFFFFF;
   height: 26px;
   padding: 4px 4px 4px 4px;
   text-align: center;
}
#Signup1 .label
{
   height: 26px;
}
#Signup1 .row
{
   height: 40px;
   text-align: left;
}
#Signup1 .input
{
   background-color: #000000;
   border-color: #000000;
   border-width: 1px;
   border-style: solid;
   border-radius: 3px;
   color: #FFFFFF;
   font-family: "Arial Black";
   font-weight: normal;
   font-size: 19px;
   width: 100%;
   height: 40px;
   box-sizing: border-box;
   padding: 6px 4px 6px 4px;
}
#Signup1 .input:focus
{
   border-color: #66AFE9;
   outline: 0;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
}
#Signup1 .button
{
   background-color: #800080;
   border-color: #FFFF00;
   border-width: 4px;
   border-style: solid;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: "Arial Black";
   font-weight: normal;
   font-size: 19px;
   padding: 4px 14px 4px 14px;
   -webkit-appearance: none;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Button1
{
   line-height: 25px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #FFFFFF;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
